<footer>
  <div class="content">
    <div class="block block1">
      <h1>
        {{ "online shop" | uppercase }}
      </h1>
      <p><strong>Phone:</strong> +984655189</p>
      <p><strong>Email:</strong> shop@gmail.com</p>
    </div>
    <div class="block">
      <h1 style="max-width: 500px">
        {{ "ХОТИТЕ ПОЛУЧАТЬ НОВОСТИ И БЫТЬ В КУРСЕ АКЦИЙ?" | uppercase }}
      </h1>
      <br />
      <p>НАШ ТЕЛЕГРАМ КАНАЛ shop.tme</p>
    </div>
  </div>
  <div style="height: 1px; background-color: grey"></div>
</footer>
