<section>
  <div class="content">
    <a routerLink="allCategory">
      <div class="block">
        <h1>
          {{ "iphone" | uppercase }}
        </h1>
        <img src="../../../assets/iphone14.jpg" width="180" alt="" />
      </div>
    </a>
    <a routerLink="allCategory">
      <div class="block">
        <h1>
          {{ "xiaomi" | uppercase }}
        </h1>
        <img src="../../../assets/xiaomi.jpg" width="140" height="180" alt="" />
      </div>
    </a>
    <a routerLink="allCategory">
      <div class="block">
        <h1>
          {{ "samsung" | uppercase }}
        </h1>
        <img
          src="../../../assets/samsung.png"
          width="200"
          height="200"
          alt=""
        />
      </div>
    </a>
  </div>
</section>
